.container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.productsContainer {
    flex: 1;
    width: 100%;
}

.product {
    padding: 20px;
    max-width: 400px;
}

.titlePrice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.total {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
}

.basketImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

