.paper {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    padding: 10px;
}

.productPhoto {
    width: 120px;
    align-items: center;
    height: 200px;
    object-fit: cover;
    flex: 1;
}

.description {
    flex: 0.8;
}

.title {
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
}

.priceAndQuantity {
    font-size: 16px;
    margin: 0 10px 15px 10px;
}

.btn {
    display: flex;
    justify-content: space-around;
}